# PROJET TECHNO DATA

## Auteurs

Rémi Mokrane

Aymen Zamoum

## Declaration librairies

In [201]:
# imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
# show plots in the notebook
%matplotlib inline
import glob

## I - Analyse et Preparation des données

1. Etudier les données en affichants les informations correspondantes (colonnes, indice, etc) :

In [202]:
## TO DO
filenames = glob.glob('./bdd/caracteristiques-2017.csv')
print(filenames)
list_of_dfs = [pd.read_csv(filename, encoding="latin1") for filename in filenames]
df_caracteristiques = pd.concat(list_of_dfs, ignore_index=True)
df_caracteristiques.shape

['./bdd/caracteristiques-2017.csv']

(60701, 16)

In [203]:
filenames = glob.glob('./bdd/lieux-2017.csv')
print(filenames)
list_of_dfs = [pd.read_csv(filename, encoding="latin1") for filename in filenames]
df_lieux = pd.concat(list_of_dfs, ignore_index=True)
df_lieux.shape

['./bdd/lieux-2017.csv']

C:\Users\mimip\AppData\Local\Temp/ipykernel_17796/1916315995.py:3: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  list_of_dfs = [pd.read_csv(filename, encoding="latin1") for filename in filenames]

(60701, 18)

In [204]:
filenames = glob.glob('./bdd/usagers-2017.csv')
print(filenames)
list_of_dfs = [pd.read_csv(filename, encoding="latin1") for filename in filenames]
df_usagers = pd.concat(list_of_dfs, ignore_index=True)
df_usagers.shape

['./bdd/usagers-2017.csv']

(136021, 12)

In [205]:
filenames = glob.glob('./bdd/vehicules-2017.csv')
print(filenames)
list_of_dfs = [pd.read_csv(filename, encoding="latin1") for filename in filenames]
df_vehicules = pd.concat(list_of_dfs)
df_vehicules.shape

['./bdd/vehicules-2017.csv']

(103546, 9)

2. Fusionner les fichiers de donnés

In [206]:
frames = [df_caracteristiques, df_lieux, df_usagers, df_vehicules]
accident_df = pd.concat(frames, axis=1)
print(accident_df.shape)

(136021, 55)

3. Nettoyer la base de données

Ex : Identifier le pourcentage de valeurs NaN dans la base et éliminez les colonnes où la majorité
des valeurs sont NaN.

In [207]:
perc = 50.0 # Like N %
min_count =  int(((100-perc)/100)*accident_df.shape[0] + 1)
accident_df = accident_df.dropna( axis=1, 
                thresh=min_count)
print(accident_df.shape)

(136021, 21)

4. Supprimer les variables dont la majorité des observations sont manquantes

In [208]:
# Count number of zeros in all columns of Dataframe
for column_name in accident_df.columns:
    shape=accident_df.shape[0]
    column = accident_df[column_name]
    # Get the count of Zeros in column 
    count = (column == 0).sum()
    pct=count/accident_df.shape[0]
    if(isinstance(pct, pd.Series)):
        print("Can't process Series...")
    elif(pct > 0.5):
        accident_df.drop([column_name], axis=1, inplace=True)
        print("Removing column ", column_name)

Can't process Series...
Removing column  locp
Removing column  actp
Removing column  etatp
Can't process Series...
Can't process Series...
Removing column  occutc
Removing column  obs
Can't process Series...

5. Remplir les valeurs NaN par différentes méthodes

In [209]:
def fill_nas_by_type(df, col_name):
    """Fill null values in df according to col_name type
    
    Parameters
    ----------
    df : dataframe, (default=None)
        input dataframe
    col_name : str, (default=None)
        column with null values to fill
        
    Returns
    -------
    df with filled values in col_name
    """
    if (col_name == "trajet"):
        df[col_name] = df[col_name].fillna(value=9)
    elif (col_name == "place"):
        df[col_name] = df[col_name].fillna(df[col_name].value_counts()[:1].index.tolist()[0])
    elif (col_name == "an_nais"):
        df[col_name] = df[col_name].fillna(float(df[col_name].median()))
    elif (col_name == "catv"):
        df[col_name] = df[col_name].fillna(value=99)
    elif (col_name == "obsm"):
        df[col_name] = df[col_name].fillna(value=99)
    elif (col_name == "choc"):
        df[col_name] = df[col_name].fillna(value=9)
    elif (col_name == "manv"):
        df[col_name] = df[col_name].fillna(value=25)
    elif (col_name == "senc"):
        df[col_name] = df[col_name].fillna(df[col_name].value_counts()[:1].index.tolist()[0])
    elif (col_name == "num_veh"):
        df[col_name] = df[col_name].iloc[:, 0].fillna(pd.Series(np.random.choice(['A01', 'B01', 'C01'], p=[0.52, 0.30, 0.18], size=len(df))))
        df[col_name] = df[col_name].iloc[:, 1].fillna(pd.Series(np.random.choice(['A01', 'B01', 'C01'], p=[0.52, 0.30, 0.18], size=len(df))))
    elif (col_name == "Num_Acc"):
        df[col_name] = df[col_name].fillna(method='ffill')
    elif (col_name == "secu"):
        df[col_name] = df[col_name].fillna(df[col_name].value_counts()[:1].index.tolist()[0])
    return df

cols_to_fill = list(accident_df.columns)

print(accident_df.isnull().sum(axis = 0))

print(accident_df.isnull().sum().sum())
for x in cols_to_fill:
    accident_df = fill_nas_by_type(accident_df, x)
print(accident_df.isnull().sum().sum())
print(accident_df.isnull().sum(axis = 0))

Num_Acc        0
place      11802
catu           0
grav           0
sexe           0
trajet        11
secu        8950
an_nais       37
num_veh        0
Num_Acc    32475
senc       32543
catv       32475
obsm       32517
choc       32510
manv       32505
num_veh    32475
dtype: int64
248300
0
Num_Acc    0
place      0
catu       0
grav       0
sexe       0
trajet     0
secu       0
an_nais    0
num_veh    0
Num_Acc    0
senc       0
catv       0
obsm       0
choc       0
manv       0
num_veh    0
dtype: int64

6. Analyser les données par les statistiques (min, max, médiane)

In [ ]:
## TO DO

7. Expliquer la gravité des accidents en fonction des autres variables (créer une nouvelle variable "mortalité" qui indique si la victime est décédée ou non suite à l'accident : tué=1 non=0)

In [ ]:
## TO DO

## II - Visualisation et modélisation