# PROJET TECHNO DATA

## Auteurs

Adrien Chaptal

Gael Rousseau

## Declaration librairies

In [ ]:
# imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
# show plots in the notebook
%matplotlib inline

## I - Analyse et Preparation des données

1. Etudier les données en affichants les informations correspondantes (colonnes, indice, etc) :

In [ ]:
## TO DO
df_caracteristique = pd.read_csv('./bdd/caracteristiques-2017.csv', encoding ='latin1')
print(df_caracteristique.shape)

In [ ]:
df_lieux = pd.read_csv('./bdd/lieux-2017.csv', encoding ='latin1')

print(df_lieux.shape)

In [ ]:
df_usagers = pd.read_csv('./bdd/usagers-2017.csv', encoding ='latin1')

print(df_usagers.shape)

In [ ]:
df_vehicules = pd.read_csv('./bdd/vehicules-2017.csv', encoding ='latin1')

print(df_vehicules.shape)

2. Fusionner les fichiers de donnés

In [12]:
frames = [df_caracteristique, df_lieux, df_usagers, df_vehicules]
df = pd.concat(frames, axis=1)

print(df.shape)

(136021, 55)

3. Nettoyer la base de données

Ex : Identifier le pourcentage de valeurs NaN dans la base et éliminez les colonnes où la majorité
des valeurs sont NaN.

In [13]:
"""
qty_of_nuls = np.ceil(df.shape[1]/2)
df.iloc[df[(df.isnull().sum(axis=1) >=qty_of_nuls)].index]
"""

df = df.loc[:, df.isnull().mean() < .5]
print(df.shape)
print(df.head)

(136021, 21)
<bound method NDFrame.head of              Num_Acc  place  catu  grav  sexe  trajet  secu  locp  actp  \
0       201700000001    1.0     1     3     1     9.0  13.0   0.0   0.0
1       201700000001    2.0     2     3     2     9.0  11.0   0.0   0.0
2       201700000001    1.0     1     3     1     1.0  13.0   0.0   0.0
3       201700000002    1.0     1     1     1     0.0  11.0   0.0   0.0
4       201700000002    1.0     1     3     1     5.0  22.0   0.0   0.0
...              ...    ...   ...   ...   ...     ...   ...   ...   ...
136016  201700060699    1.0     1     1     2     9.0  11.0   0.0   0.0
136017  201700060700    1.0     1     1     2     9.0  11.0   0.0   0.0
136018  201700060700    1.0     1     4     1     9.0  21.0   0.0   0.0
136019  201700060700    2.0     2     4     2     9.0  21.0   0.0   0.0
136020  201700060701    1.0     1     4     1     1.0  21.0   0.0   0.0

        etatp  ...  num_veh       Num_Acc  senc  catv  occutc  obs  obsm  \
0         0.0  ...      B01  2.017000e+11   0.0   7.0     0.0  0.0   2.0
1         0.0  ...      B01  2.017000e+11   0.0  10.0     0.0  0.0   2.0
2         0.0  ...      A01  2.017000e+11   0.0   7.0     0.0  0.0   0.0
3         0.0  ...      A01  2.017000e+11   0.0   1.0     0.0  0.0   0.0
4         0.0  ...      B01  2.017000e+11   0.0  10.0     0.0  0.0   2.0
...       ...  ...      ...           ...   ...   ...     ...  ...   ...
136016    0.0  ...      B01           NaN   NaN   NaN     NaN  NaN   NaN
136017    0.0  ...      A01           NaN   NaN   NaN     NaN  NaN   NaN
136018    0.0  ...      B01           NaN   NaN   NaN     NaN  NaN   NaN
136019    0.0  ...      B01           NaN   NaN   NaN     NaN  NaN   NaN
136020    0.0  ...      A01           NaN   NaN   NaN     NaN  NaN   NaN

        choc  manv  num_veh
0        3.0   9.0      B01
1        3.0  13.0      A01
2        1.0  16.0      A01
3        7.0   1.0      B01
4        1.0   1.0      C01
...      ...   ...      ...
136016   NaN   NaN      NaN
136017   NaN   NaN      NaN
136018   NaN   NaN      NaN
136019   NaN   NaN      NaN
136020   NaN   NaN      NaN

[136021 rows x 21 columns]>

4. Supprimer les variables dont la majorité des observations sont manquantes

In [14]:
# Count number of zeros in all columns of Dataframe
for column_name in df.columns:
    shape= df.shape[0]
    column = df[column_name]
    # Get the count of Zeros in column 
    count = (column == 0).sum()
    print(count);
    pct=count/shape
    if(isinstance(pct, pd.Series)):
        print("Can't process Series...")
    elif(pct > 0.5):
        df.drop([column_name], axis=1, inplace=True)
        print("Removing column ", column)

Num_Acc    0
Num_Acc    0
dtype: int64
Can't process Series...
0
0
0
0
29403
0
125194
Removing column  0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
136016    0.0
136017    0.0
136018    0.0
136019    0.0
136020    0.0
Name: locp, Length: 136021, dtype: float64
124717
Removing column  0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
136016    0.0
136017    0.0
136018    0.0
136019    0.0
136020    0.0
Name: actp, Length: 136021, dtype: float64
124680
Removing column  0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
136016    0.0
136017    0.0
136018    0.0
136019    0.0
136020    0.0
Name: etatp, Length: 136021, dtype: float64
0
num_veh    0
num_veh    0
dtype: int64
Can't process Series...
Num_Acc    0
Num_Acc    0
dtype: int64
Can't process Series...
18652
0
102968
Removing column  0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
136016    NaN
136017    NaN
136018    NaN
136019    NaN
136020    NaN
Name: occutc, Length: 136021, dtype: float64
88644
Removing column  0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
136016    NaN
136017    NaN
136018    NaN
136019    NaN
136020    NaN
Name: obs, Length: 136021, dtype: float64
18483
6702
7602
num_veh    0
num_veh    0
dtype: int64
Can't process Series...

5. Remplir les valeurs NaN par différentes méthodes

In [15]:
def fill_nas_by_type(df, col_name):
    """Fill null values in df according to col_name type
    
    Parameters
    ----------
    df : dataframe, (default=None)
        input dataframe
    col_name : str, (default=None)
        column with null values to fill
        
    Returns
    -------
    df with filled values in col_name
    """
    if (col_name == "trajet"):
        df[col_name] = df[col_name].fillna(value=9)
    elif (col_name == "place"):
        df[col_name] = df[col_name].fillna(df[col_name].value_counts()[:1].index.tolist()[0])
    elif (col_name == "an_nais"):
        df[col_name] = df[col_name].fillna(float(df[col_name].median()))
    elif (col_name == "catv"):
        df[col_name] = df[col_name].fillna(value=99)
    elif (col_name == "obsm"):
        df[col_name] = df[col_name].fillna(value=99)
    elif (col_name == "choc"):
        df[col_name] = df[col_name].fillna(value=9)
    elif (col_name == "manv"):
        df[col_name] = df[col_name].fillna(value=25)
    elif (col_name == "senc"):
        df[col_name] = df[col_name].fillna(df[col_name].value_counts()[:1].index.tolist()[0])
    elif (col_name == "num_veh"):
        df[col_name] = df[col_name].iloc[:, 0].fillna(pd.Series(np.random.choice(['A01', 'B01', 'C01'], p=[0.52, 0.30, 0.18], size=len(df))))
        df[col_name] = df[col_name].iloc[:, 1].fillna(pd.Series(np.random.choice(['A01', 'B01', 'C01'], p=[0.52, 0.30, 0.18], size=len(df))))
    elif (col_name == "Num_Acc"):
        df[col_name] = df[col_name].fillna(method='ffill')
    elif (col_name == "secu"):
        df[col_name] = df[col_name].fillna(df[col_name].value_counts()[:1].index.tolist()[0])
    return df

cols_to_fill = list(df.columns)

print(df.isnull().sum(axis = 0))

print(df.isnull().sum().sum())
for x in cols_to_fill:
    df = fill_nas_by_type(df, x)
print(df.isnull().sum().sum())
print(df.isnull().sum(axis = 0))

Num_Acc        0
place      11802
catu           0
grav           0
sexe           0
trajet        11
secu        8950
an_nais       37
num_veh        0
Num_Acc    32475
senc       32543
catv       32475
obsm       32517
choc       32510
manv       32505
num_veh    32475
dtype: int64
248300
0
Num_Acc    0
place      0
catu       0
grav       0
sexe       0
trajet     0
secu       0
an_nais    0
num_veh    0
Num_Acc    0
senc       0
catv       0
obsm       0
choc       0
manv       0
num_veh    0
dtype: int64

6. Analyser les données par les statistiques (min, max, médiane)

In [16]:
## TO DO

for col_name in df.columns:
    
    if(col_name != "Num_Acc"):
        print("Column: " + col_name)

        print(df[col_name].describe())
        print("\n \n")

Column: place
count    136021.000000
mean          1.393300
std           1.233188
min           1.000000
25%           1.000000
50%           1.000000
75%           1.000000
max           9.000000
Name: place, dtype: float64



Column: catu
count    136021.000000
mean          1.349814
std           0.639996
min           1.000000
25%           1.000000
50%           1.000000
75%           2.000000
max           4.000000
Name: catu, dtype: float64



Column: grav
count    136021.000000
mean          2.492858
std           1.330687
min           1.000000
25%           1.000000
50%           3.000000
75%           4.000000
max           4.000000
Name: grav, dtype: float64



Column: sexe
count    136021.000000
mean          1.323016
std           0.467631
min           1.000000
25%           1.000000
50%           1.000000
75%           2.000000
max           2.000000
Name: sexe, dtype: float64



Column: trajet
count    136021.000000
mean          3.476713
std           2.647390
min           0.000000
25%           1.000000
50%           4.000000
75%           5.000000
max           9.000000
Name: trajet, dtype: float64



Column: secu
count    136021.000000
mean         17.393175
std          17.277594
min           1.000000
25%          11.000000
50%          11.000000
75%          21.000000
max          93.000000
Name: secu, dtype: float64



Column: an_nais
count    136021.000000
mean       1978.317797
std          18.883170
min        1914.000000
25%        1965.000000
50%        1982.000000
75%        1993.000000
max        2017.000000
Name: an_nais, dtype: float64



Column: num_veh
       num_veh num_veh
count   136021  136021
unique      39      39
top        A01     A01
freq     82513   82513



Column: senc
count    136021.000000
mean          1.114401
std           0.612836
min           0.000000
25%           1.000000
50%           1.000000
75%           2.000000
max           2.000000
Name: senc, dtype: float64



Column: catv
count    136021.000000
mean         32.817205
std          38.390817
min           1.000000
25%           7.000000
50%           7.000000
75%          36.000000
max          99.000000
Name: catv, dtype: float64



Column: obsm
count    136021.000000
mean         24.930540
std          41.530365
min           0.000000
25%           2.000000
50%           2.000000
75%           9.000000
max          99.000000
Name: obsm, dtype: float64



Column: choc
count    136021.000000
mean          4.377677
std           3.353667
min           0.000000
25%           1.000000
50%           3.000000
75%           9.000000
max           9.000000
Name: choc, dtype: float64



Column: manv
count    136021.000000
mean         10.862845
std          10.156319
min           0.000000
25%           1.000000
50%           9.000000
75%          23.000000
max          25.000000
Name: manv, dtype: float64



Column: num_veh
       num_veh num_veh
count   136021  136021
unique      39      39
top        A01     A01
freq     82513   82513

7. Expliquer la gravité des accidents en fonction des autres variables (créer une nouvelle variable "mortalité" qui indique si la victime est décédée ou non suite à l'accident : tué=1 non=0)

In [23]:
tue = df.grav == 2

df['mortalite'] = np.where(tue, 1, np.where(np.logical_not(tue), 0, np.NaN))

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

## II - Visualisation et modélisation

1. Mettre en place les modèles de machine learning pour prédire et classifier la mortalité : Régression logistique, Decision Tree, Random Forest, etc

In [ ]:
#TO DO

2. Visualiser et expliquer la distribution de la variable 'mortalité' selon les différentes variables (le genre des victimes, l'Age, etc)

In [ ]:
#TO DO

3. Normaliser les données et les appliquer aux modèles

In [ ]:
#TO DO

4. Analyser, visualiser et expliquer le niveau de corrélation entre les variables

In [ ]:
#TO DO

5. Analyser à la base du temps : Nombre d'accidents en années, Nombre d'accidents en mois, etc

In [ ]:
#TO DO

6. Trouver l’heure de la journée la plus dangereuse

In [ ]:
#TO DO

## III - Comparaison

1. Faire la comparaison entre les modèles avec les données originales et normalisé par rapport aux différentes métriques : MSE, MAE, Score, Précision, Matrice de confusion etc.

In [ ]:
#TO DO

2. Faire la comparaison entre toutes les modèles.

In [ ]:
#TO DO

3. Faire la comparaison entre les méthodes train-test-split et la validation croisée

In [ ]:
#TO DO

4. Trouver les meilleur paramètres à l’aide de GridSearchCV

In [ ]:
#TO DO

## IV - Amélioration des performances

1. Améliorer les performances des modèles : ajouter des nouvelles variables, régulariser les modèles, utiliser les modèles d'ensemble, etc