# PROJET TECHNO DATA

## Auteurs

Adrien Chaptal

Gael Rousseau

## Declaration librairies

In [13]:
# imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
# show plots in the notebook
%matplotlib inline

## I - Analyse et Preparation des données

1. Etudier les données en affichants les informations correspondantes (colonnes, indice, etc) :

In [17]:
## TO DO
df_caracteristique = pd.read_csv('./bdd/caracteristiques-2017.csv',index_col=0, encoding ='latin1')
print(df_caracteristique)

              an  mois  jour  hrmn  lum  agg  int  atm  col  com  \
Num_Acc
201700000001  17     1    11  1820    5    2    1  1.0  1.0  477
201700000002  17     2    13  1630    1    2    3  1.0  3.0    5
201700000003  17     3     7  1150    1    2    9  1.0  5.0   52
201700000004  17     4    22  1300    1    2    1  1.0  6.0    5
201700000005  17     5    20  1230    1    2    1  1.0  2.0   11
...           ..   ...   ...   ...  ...  ...  ...  ...  ...  ...
201700060697  17    11    19  1030    1    2    1  1.0  6.0  611
201700060698  17    11    25   624    1    1    6  1.0  7.0  611
201700060699  17    11    26  1745    2    2    1  1.0  3.0  611
201700060700  17    11    28  1405    1    2    1  1.0  3.0  611
201700060701  17    11    30  1939    3    2    1  1.0  6.0  611

                                   adr gps        lat       long  dep
Num_Acc
201700000001             rue nationale   M  5051326.0   292191.0  590
201700000002          5 rue sonneville   M  5053611.0   295314.0  590
201700000003          rue Jules Guesde   M  5052174.0   288786.0  590
201700000004         46 rue Sonneville   M  5053723.0   295700.0  590
201700000005        Rue roger salengro   M  5052999.0   293798.0  590
...                                ...  ..        ...        ...  ...
201700060697  1, tsoundzou-Baraka (rue   Y  1280703.0  4520703.0  976
201700060698  1, mamoudzou centre-Adri   Y  1278296.0  4523434.0  976
201700060699  1, tsoundzou-Abdallah So   Y  1280711.0  4520617.0  976
201700060700   1, kaweni-Kaweni nord (   Y  1276210.0  4522609.0  976
201700060701     tsoundzou-Stara (rue)   Y  1281342.0  4520169.0  976

[60701 rows x 15 columns]

In [18]:
df_lieux = pd.read_csv('./bdd/lieux-2017.csv',index_col=0, encoding ='latin1')
print(df_lieux)

              catr voie   v1   v2  circ  nbv   pr    pr1  vosp  prof  plan  \
Num_Acc
201700000001     3   39  NaN  NaN   2.0  2.0  NaN    NaN   2.0   1.0   1.0
201700000002     3   39  NaN  NaN   2.0  2.0  NaN    NaN   0.0   1.0   0.0
201700000003     3   39  NaN  NaN   2.0  2.0  NaN    NaN   0.0   1.0   0.0
201700000004     3   39  NaN    D   2.0  2.0  NaN    NaN   0.0   1.0   0.0
201700000005     3   39  NaN  NaN   2.0  2.0  NaN    NaN   0.0   1.0   0.0
...            ...  ...  ...  ...   ...  ...  ...    ...   ...   ...   ...
201700060697     2  NaN  2.0  NaN   2.0  2.0  4.0  936.0   0.0   1.0   1.0
201700060698     2  NaN  NaN  NaN   2.0  2.0  NaN    NaN   0.0   1.0   1.0
201700060699     2  2.0  2.0  NaN   2.0  2.0  4.0  820.0   0.0   1.0   1.0
201700060700     2  1.0  2.0  NaN   2.0  2.0  2.0  890.0   0.0   2.0   1.0
201700060701     2  2.0  2.0  NaN   2.0  2.0  3.0  980.0   0.0   1.0   1.0

              lartpc  larrout  surf  infra  situ  env1
Num_Acc
201700000001     0.0     70.0   1.0    0.0   1.0  99.0
201700000002     6.0     10.0   1.0    NaN   NaN   NaN
201700000003     0.0     10.0   1.0    NaN   NaN   NaN
201700000004     0.0     10.0   1.0    NaN   NaN   NaN
201700000005     0.0      0.0   1.0    0.0   1.0  99.0
...              ...      ...   ...    ...   ...   ...
201700060697     0.0      0.0   1.0    0.0   1.0  99.0
201700060698     0.0      0.0   1.0    0.0   1.0   0.0
201700060699     0.0      0.0   1.0    0.0   1.0  99.0
201700060700     0.0      0.0   1.0    0.0   1.0  99.0
201700060701     0.0      0.0   1.0    0.0   1.0  99.0

[60701 rows x 17 columns]

C:\Users\Adrien\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [19]:
df_usagers = pd.read_csv('./bdd/usagers-2017.csv',index_col=0, encoding ='latin1')
print(df_usagers)

              place  catu  grav  sexe  trajet  secu  locp  actp  etatp  \
Num_Acc
201700000001    1.0     1     3     1     9.0  13.0   0.0   0.0    0.0
201700000001    2.0     2     3     2     9.0  11.0   0.0   0.0    0.0
201700000001    1.0     1     3     1     1.0  13.0   0.0   0.0    0.0
201700000002    1.0     1     1     1     0.0  11.0   0.0   0.0    0.0
201700000002    1.0     1     3     1     5.0  22.0   0.0   0.0    0.0
...             ...   ...   ...   ...     ...   ...   ...   ...    ...
201700060699    1.0     1     1     2     9.0  11.0   0.0   0.0    0.0
201700060700    1.0     1     1     2     9.0  11.0   0.0   0.0    0.0
201700060700    1.0     1     4     1     9.0  21.0   0.0   0.0    0.0
201700060700    2.0     2     4     2     9.0  21.0   0.0   0.0    0.0
201700060701    1.0     1     4     1     1.0  21.0   0.0   0.0    0.0

              an_nais num_veh
Num_Acc
201700000001   1968.0     B01
201700000001   1973.0     B01
201700000001   1967.0     A01
201700000002   1953.0     A01
201700000002   1960.0     B01
...               ...     ...
201700060699   1974.0     B01
201700060700   1987.0     A01
201700060700   1991.0     B01
201700060700   1990.0     B01
201700060701   1992.0     A01

[136021 rows x 11 columns]

In [20]:
df_vehicules = pd.read_csv('./bdd/vehicules-2017.csv',index_col=0, encoding ='latin1')
print(df_vehicules)

              senc  catv  occutc  obs  obsm  choc  manv num_veh
Num_Acc
201700000001   0.0     7       0  0.0   2.0   3.0   9.0     B01
201700000001   0.0    10       0  0.0   2.0   3.0  13.0     A01
201700000002   0.0     7       0  0.0   0.0   1.0  16.0     A01
201700000002   0.0     1       0  0.0   0.0   7.0   1.0     B01
201700000003   0.0    10       0  0.0   2.0   1.0   1.0     C01
...            ...   ...     ...  ...   ...   ...   ...     ...
201700060699   2.0     7       0  0.0   2.0   2.0  14.0     A01
201700060699   1.0     7       0  0.0   2.0   7.0  14.0     B01
201700060700   2.0     7       0  0.0   2.0   3.0   6.0     A01
201700060700   2.0    31       0  0.0   2.0   8.0   2.0     B01
201700060701   1.0    31       0  0.0   9.0   1.0   2.0     A01

[103546 rows x 8 columns]

2. Fusionner les fichiers de donnés

In [7]:
frames = [df_caracteristique, df_lieux, df_usagers, df_vehicules]
df = pd.concat(frames)

print(df)

3. Nettoyer la base de données

Ex : Identifier le pourcentage de valeurs NaN dans la base et éliminez les colonnes où la majorité
des valeurs sont NaN.

In [8]:
## TO DO

4. Supprimer les variables dont la majorité des observations sont manquantes

In [9]:
## TO DO

5. Remplir les valeurs NaN par différentes méthodes

In [10]:
## TO DO

6. Analyser les données par les statistiques (min, max, médiane)

In [11]:
## TO DO

7. Expliquer la gravité des accidents en fonction des autres variables (créer une nouvelle variable "mortalité" qui indique si la victime est décédée ou non suite à l'accident : tué=1 non=0)

In [12]:
## TO DO

## II - Visualisation et modélisation